<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to About page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro assumenda, animi iusto dolor, dolores ea cum est sunt architecto laborum ipsam facilis ratione sed. Suscipit aut blanditiis expedita fugit nisi.</p>
    </div>
    <script>
        console.log("About page");
    </script>
    
</body>
</html>