<!DOCTYPE html>
<html lang="en" th:fragment="parent(content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" /> 
</head>
<body>
    <!--common header  -->
    <div data-th-replace="navbar::navbar"></div>

    <!-- main content -->
    <section data-th-href="${content}"></section>

    <!-- flowbite content -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>